/* Carta.css */


/* Definir estilos globales */

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
}

.bg-carta {
    background-image: url('https://restoamericano.vercel.app/fondomenu.png');
    background-size: cover;
}

.bg-olive {
    background-color: rgb(93, 107, 96);
}

nav {
    display: flex;
    /* Convertir en flexbox */
    justify-content: center;
    /* Centrar elementos horizontalmente */
}

.margen {
    margin-top: 6em !important;
}

a {
    display: inline-block;
    /* Convertir en bloque para que se ajuste automáticamente al contenido */
    transition: background-color 1s ease, color 1s ease;
    font-size: calc(1.25rem - 0.05vw);
    /* Tamaño de letra basado en el ancho de la ventana */
    text-align: center;
    /* Centrar texto horizontalmente */
    width: auto;
    /* Ancho automático basado en el contenido */
    padding: 0.5rem 1rem;
    /* Ajustar el relleno del botón */
    min-width: 150px;
    /* Tamaño mínimo del botón */
}

a:hover {
    background-color: white;
    color: black;
}